.writer-toolbar {
    background: @base_color;
    border-top: none;
    border-left: none;
    border-right: none;
}

.page-decoration {
    background-color: #ffffff;
    border: none;
    border-color: transparent;
    box-shadow:
        0 0 0 1px alpha (#000, 0.05),
        0 3px 3px alpha (#000, 0.22);
    transition: all 150ms ease-in-out;
}

.page-decoration text {
    color: #333333;
}

.page-decoration text selection {
    color: #444444;
}
